.table-res {
  width: 80%;
}

td {
  text-wrap: nowrap;
  padding: 0 5px;
}

.pagination {
  margin-top: 20px;
  justify-content: center;
}

.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}

.page-link {
  color: #007bff;
}

.page-link:hover {
  color: #0056b3;
}

.page-item.disabled .page-link {
  color: #6c757d;
}

@media (max-width: 768px) {
  .table-res {
    width: 90%;
  }

  .pagination {
    justify-content: start;
  }
}
.financial-report {
  background-color: #e8f5e9;
  padding: 20px;
}

.custom-table th,
.custom-table td {
  text-align: center;
  vertical-align: middle;
}

.custom-table th {
  background-color: #dce775;
}

.alert-danger {
  background-color: #ffebee;
  color: #c62828;
  padding: 10px;
  font-weight: bold;
}

.pagination-container {
  margin-top: 20px;
  text-align: center;
}

.pagination .page-link {
  color: #007bff;
}

.pagination .page-item.active .page-link {
  background-color: #4caf50;
  border-color: #4caf50;
  color: white;
}

.spinner-border {
  margin: auto;
}
