.a-btn {
  text-align: center;
  color: white;
}
.a-btn:hover {
  background-color: white;
}

.pointer {
  cursor: pointer;
}

.main-component {
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main-component {
    min-height: auto;
  }
}

footer {
  font-family: 'Arial', sans-serif;
  color: #fff;
  background-color: #004d40;
}

footer h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

footer p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

footer .bg-dark {
  background-color: #00332e;
}

.text-start {
  text-align: left;
}